# Ignore everything by default
*

# Track Python files
!*.py

# Track Jupyter notebooks
!*.ipynb

# Track training bash scripts
!*.sh

# Track directories 
!*/

# Track yml files
!*.yml

# Track gitignore itself
!.gitignore